.navbar_container {
  height: 54px;
  background-color: #ffff;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-around;
}

.navbar_instalogo {
  margin-top: 10px;
}

.navbar_search input {
  margin-top: 12px;
  padding: 10px;
  height: 28px;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  background-color: rgba(230, 224, 230, 0.164);
}

.navbar_search input::placeholder {
  text-align: center;
}

.navbar_menuicons {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.navbar_menuicons .navbar-icon,
.navbar_menuicons img {
  margin-top: 15px;
  cursor: pointer;
}

.navbar_menuicons img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
