.letter {
  background-color: rgba(238, 204, 238, 0.65);
  padding: 30px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 4px 30px 0.3px rgba(109, 109, 110, 0.4);
  font-family: cursive;
}
hr {
  border: 1px solid rgba(172, 168, 168, 0.3);
  background-color: rgba(172, 168, 168, 0.3);
}
table {
  /*border-spacing: 0px;*/
  border-collapse: collapse;
  width: 65%;
}

table th,
table td {
  border: 1px solid grey;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: rgba(252, 136, 142, 0.2);
}

a {
  border: 1.5px solid rgba(0, 0, 0, 0.8);
  padding: 3px;
  text-decoration: none;
  background-color: rgba(252, 136, 142, 0.2);
  box-shadow: 3px 3px 20px 0.3px rgba(128, 128, 128, 0.5);
  width: max-content;
  color: black;
}

a:hover {
  background-color: rgba(252, 106, 143, 0.274);
}
