.container {
  margin: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 80%;

  /* border: 1px solid black; */
}
.container .card {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: max-content;
  /* border: 1px solid black; */
  overflow: auto;
  scroll-behavior: smooth;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caloriecard {
  width: 80%;
  padding: 20px;
  margin: 10px;
  border-radius: 15px 0;
  background-color: rgba(10, 10, 10, 0.5);
  box-shadow: 5px 5px 5px 1px #aaa;
  /* border: 1px solid black; */
  font-size: 20px;
}
