@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(253, 199, 208, 0.685);
  font-family: "Titillium Web", sans-serif;
}
.main-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 5px;
  margin: auto;
  border: 1px solid black;
  min-height: 300px;
  width: 30%;
  text-align: center;
  background: rgba(254, 128, 161, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
input {
  outline: none;
  border: none;
  height: 20px;
  font-family: "Titillium Web", sans-serif;
}
#addToDo {
  margin-left: 4px;
  outline: none;
  border: none;
}
.fa-plus-circle {
  color: rgb(245, 102, 126);
  background: rgba(254, 128, 161, 0.25);
}
.instructions {
  text-align: center;
  list-style-type: none;
  font-size: 13px;
}
