* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  background: #161a2b;
  font-family: monospace;
}

.todos input {
  width: 30%;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
  color: #fff;
  margin: 30px 10px;
  padding: 10px;
  font-size: 18px;
}

input::placeholder {
  color: #e2e2e2;
}

.todos button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  margin: 30px 10px;
  padding: 10px;
  font-size: 18px;
}

.todoList .title {
  display: inline-block;
  margin: 10px;
  color: #fff;
  font-size: 18px;
}
